article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
	font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
	color: rgb(164,163,163);
	font-family: 'Julius Sans One', sans-serif;
}

h1, h2, h3{
	color: #70C3E1;
}

h2{
	font-size: 3em;
	margin: 20px 0 20px 0;
}

p{
	font-size: 20px;
	line-height: 30px;
}


i{
	color: #70C3E1;
	margin-right: 10px;
}

a{
	text-decoration: none;
	color: #70C3E1;
}

.logo{
	padding-top: 100px;
	text-align: center;
}

img{
	width: 600px;
	height: auto;
}

.offers img{
	width: 400px;
	height: auto;
}

.highlight{
	color: #70C3E1;
}

.wrapper{
	max-width: 100%;
}

.header{
	height: 600px;
	background: white;
}

.contentWrapper{
	max-width: 50%;
	margin: 0 auto;
	display: flex;
	margin-top: 40px;
}

/*.comingSoon{
	width: 50%;
	border-right: 1px solid rgb(112,195,225);
}*/

.content{
	width: 40%;
	padding-bottom: 20px;
	margin: 0 auto;
	/*text-align: center;*/
}

.contactWrapper{
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

.contact h1{
	font-size: 4rem;
	padding-top: 40px;
}

.contact_desc p{
	color: rgb(164,163,163);
	font-size: 14px;
}

.contact_desc a{
	text-decoration: none;
	color: rgb(164,163,163);
	text-transform: uppercase;
	/*font-weight: 500;*/
}

.contactform {
	width: 100%;
	height: 550px;
	margin: 0 auto;
}

button{
	background: #70C3E1;
	color: white;
	font-size: 20px;
	border-style: none;
	padding: 10px 20px;
	border-radius: 5px;
}

button a{
	color: white;
}

form {
  max-width: 80%;
  /*display: flex;*/
  min-height: 12%;
  margin-top: 2%;
  margin: 0 auto;
}

input, textarea {
  font-size: 20px;
  width: 100%;
  max-width: 100%;
  border: solid 1px grey;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: white;
  /*color: darken(#335063, 50%);*/
}

textarea {
	height: 150px;
}


 [type=submit] {
    background: 0;
	border: 2px solid rgb(112,195,225);
	font-family: 'Lato' , sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	padding: 15px;
	width: 80px;
	color: rgb(112,195,225);
  }

  &::placeholder {
    color: #fff; 
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}

label {
	display: block;
	margin-top: 20px;
	letter-spacing: 2px;
}

@media only screen and (max-width: 1005px){
	.contentWrapper{
		flex-direction: column;
	}
	.comingSoon, .content{
		width: 100%;
		text-align: center;
		border-right: none;
	}
	.content{
		padding-left: 0px;
	}

}

@media only screen and (max-width: 768px){
	p{
		font-size: 10px;
	}
	h2{
		font-size: 16px;
	}
	.contact h1{
		font-size: 2rem;
		padding-top: 40px;
	}

	.contact_desc p{
		color: rgb(229,214,180);
		font-size: 12px;
	}
	input, textarea {
	  font-size: 18px;
	}
	 [type=submit] {
		font-size: 13px;
	  }

}

@media only screen and (max-width: 375px){
	img{
	width: 375px;
	height: auto;
	}
}

@media only screen and (max-width: 320px){
	img{
	width: 320px;
	height: auto;
	}
}





